/* SORTABLE_TABLE */

th.ascending a {
  background: url(/images/sort-ascending-arrow.gif) 0% 50% no-repeat;
  padding-left: 15px;
}
th.descending a {
  background: url(/images/sort-descending-arrow.gif) 0% 50% no-repeat;
  padding-left: 15px;
}
